$font_color_light: #FFFFFF;
$font_color_dark: #590D56;
$font_color_dark2: #540C50;
$font_color_dark3: #47093E;
$button_color_light: #FFFFFF;
$button_color_dark: #590D56;
$header_line_color: #333333df;
$modal_bg_color: #FFFFFF;